@import url('https://fonts.googleapis.com/css?family=Roboto');

/* estilização geral */

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background: #fefefe;
}

a {
    text-decoration: none;
}

/* estilização do cabeçalho*/
.header {
    width: 100%;
    height: auto;
    background: #039BE5;
}

.main__title {
    margin: 0;
    color: #01579B;
    padding: 20px;
    font-family: "Roboto", sans-serif;
}

.title__link {
    color: #ffffff;
    margin: 0;
    font-family: "Roboto", sans-serif;
    letter-spacing: 1px;
}

.title__span {
    color: #01579B;
}

/* estilização do menu */
.menu {
    width: 100%;
    background: #039BE5;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
    position: relative;
}

.mene::after {
    content: "";
    width: 100%;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}


.menu__list {
    list-style: none;
    display: inline-block; 
    margin: 0;
    padding: 0;
    width: 100%;
}

.menu__probability {
    color: #ffffff;
    font-family: "Roboto", sans-serif;    
}

.menu__probability:hover {
    cursor: pointer;  
    background: #ffffff; 
    color: #01579B;
}

.menu__list--probability {
    list-style: none;   
}

.menu__list-item {
    display: inline-block;
    position: relative;
    padding: 10px 20px;
}

.menu__list-item:hover {
    background: #ffffff;
}

.menu__list-item:hover .menu__link {
    color: #01579B;
}

.menu__link {
    color: #ffffff;
    font-family: "Roboto", sans-serif;
}

.menu__list--probability {
    position: absolute;
    background: #039BE5;
    visibility: hidden;
}

.menu__list-item--probability {
    float: none;
}

/*estilização do container principal*/
.main {
    width: 85%;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
    background: #ffffff;
    margin: 0 auto;     
}

/* estilização estatistica descritiva */
.form {
    padding: 10px 0;
}

.title {
    margin: 0;
    color: #01579B;
    padding: 60px 30px 15px;
    font-family: "Roboto", sans-serif; 
    font-weight: normal;
}

.container {
    width: 95%;
    height: auto;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    position: relative;
    /* text-align: center; */
}

.radio__content {
    display: inline-block;
    padding: 25px 20px;
    vertical-align: middle;
    width: 250px;
}

.radio__button {
    position: absolute;
    width: 6px;
    height: 6px;
    opacity: 0;
    padding: 2px;
}

.radio__label {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    display: inline-block;
}

.radio__label::before {
    content: " ";
    border: 4px solid #E3F2FD;
    width: 6px;
    height: 6px;
    display: inline-block;
    border-radius: 100%;
    margin: 0 10px;
}

.radio__button:checked + label::before {
    border: 4px solid #01579B;
    transition: all 0.3s;
}

.text__input {
    position: relative;
    width: 95%;
    margin: 0 auto;
    border: none;
    border-bottom: 1px solid #dddddd;
    display: block;
    padding: 10px;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}

.text__input:focus {
    outline: none; 
    border-bottom: 2px solid #039BE5;
    transition: all 0.4s;
}

.medidas_separatrizes__container {
    width: 95%;
    height: auto;
    margin: 0 auto;
    padding-top: 30px;
}

.medidas_separatrizes__valor {
    font-size: 20px;
    color: #01579B;
    padding: 10px 5px;
    font-family: "Roboto", sans-serif;
    display: inline-block;
}

.medidas_separatrizes__input {
    display: inline-block;
    border: none;
    border-bottom: 1px solid #dddddd;
    width: 100%;
    font-size: 16px;
}

.medidas_separatrizes__input:focus {
    outline: none; 
    border-bottom: 2px solid #039BE5;
    transition: all 0.4s;
}

.form__submit {
    color: #ffffff;
    background-color: #fff;
    background: #039BE5;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
    display: block;
    margin: 60px auto;
    width: 200px;
    padding: 20px;
    border: none;
    font-size: 18px;
}

.form__submit:active {
    background-color: #01579B;
    box-shadow: none;
    outline: none;
}
