@import url('https://fonts.googleapis.com/css?family=Roboto');

/* estilização geral */

* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #fefefe;
}

.container {
   min-height: 100%;
   position: relative;
}

a {
    text-decoration: none;
}

/* estilização do cabeçalho*/
.header {
    width: 100%;
    height: auto;
    background: #039BE5;
}

.main__title {
    margin: 0;
    color: #1A237E;
    padding: 20px;
    font-family: "Roboto", sans-serif;
    display: inline-block;
}

.title__link {
    color: #ffffff;
    margin: 0;
    font-family: "Roboto", sans-serif;
    letter-spacing: 1px;
}

.title__span {
    color: #01579B;
}

/* estilização do menu */
.menu {
    width: 100%;
    background: #039BE5;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
    position: relative;
}

.check_input {
    display: none;
}

.menu__icon {
    display: none;
}

.menu__mobile {
    background-color: #fefefe;
    position: absolute;
    width: 300px;
    height: 100%;
    left: -300px;
    transition: all 0.2s linear;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
    z-index: 2;
}

.mene::after {
    content: "";
    width: 100%;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
}

.menu__list {
    list-style: none;
    display: inline-block; 
    margin: 0;
    padding: 0;
    width: 100%;
}

.menu__probability {
    color: #ffffff;
    font-family: "Roboto", sans-serif;    
}

.menu__probability:hover {
    cursor: pointer;  
    background: #ffffff; 
    color: #01579B;
}

.menu__probability:hover .menu__list--probability {
    visibility: visible;
}

.menu__probability:hover .menu__link--probability {
    color: #ffffff;
    font-family: "Roboto", sans-serif;
}

.menu__list--probability {
    list-style: none;   
}

.menu__list-item {
    display: inline-block;
    position: relative;
    padding: 10px 20px;
}

.menu__list-item:hover {
    background: #ffffff;
    transition: all 0.1s;
}

.menu__list-item:hover .menu__link {
    color: #01579B;
}

.menu__link {
    color: #ffffff;
    font-family: "Roboto", sans-serif;
}

.menu__list--probability {
    position: absolute;
    background: #039BE5;
    visibility: hidden;
    padding: 0;
    list-style: none;
    z-index: 99;
    left: 0;
    top: 38px;
}

.menu__list-item--probability {
    float: none;
    color: #ffffff;
    padding: 10px 20px;
    font-family: "Roboto", sans-serif;
    text-align: center;
}

.menu__list-item--probability:hover {
    background-color: #ffffff;
    border-top: 1px solid #01579B;
    border-bottom: 1px solid #01579B;
    transition: all 0.1s;
}

.menu__list-item--probability:hover .menu__link--probability {
    color: #01579B;
    transition: all 0.1s;
}

/*estilização do container principal*/
.main {
    width: 85%;    
    background: #ffffff;
    margin: 0 auto;  
    padding-bottom: 40px;
}

.index__container {
    padding-bottom: 40px;
}

.index__disclaimer {
    font-family: "Roboto", sans-serif;
    font-size: 22px;
    text-align: justify;
    color: #546E7A;
    padding: 10px 30px;
}

/* estilização estatistica descritiva */
.form {
    padding: 10px 0;
}

.title {
    margin: 0;
    color: #424242;
    font-family: "Roboto", sans-serif;
    padding: 50px 30px 0;
}

.title_2 {
    margin: 0;
    color: #01579B;
    padding: 60px 30px 15px;
    font-family: "Roboto", sans-serif; 
    font-weight: normal;
}

.radio__container {
    width: 95%;
    height: auto;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
    margin: 0 auto;
    position: relative;
}

.radio__content {
    display: inline-block;
    padding: 25px 20px;
    vertical-align: middle;
    width: 250px;
}

.radio__content--correlacao {
    width: 300px;
}

.radio__button {
    position: absolute;
    width: 6px;
    height: 6px;
    opacity: 0;
    padding: 2px;
}

.radio__label {
    font-family: "Roboto", sans-serif;
    font-size: 18px;
    display: inline-block;
}

.radio__label::before {
    content: " ";
    border: 4px solid #E3F2FD;
    width: 6px;
    height: 6px;
    display: inline-block;
    border-radius: 100%;
    margin: 0 10px;
}

.radio__button:checked + label::before {
    border: 4px solid #01579B;
    transition: all 0.3s;
}

.text__input {
    position: relative;
    width: 95%;
    margin: 0 auto;
    border: none;
    border-bottom: 1px solid #dddddd;
    display: block;
    padding: 10px;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
}

.text__input:focus {
    outline: none; 
    border-bottom: 2px solid #039BE5;
    transition: all 0.4s;
}

.medidas_separatrizes__container {
    width: 95%;
    height: auto;
    margin: 0 auto;
    padding-top: 30px;
}

.medidas_separatrizes__valor {
    font-size: 20px;
    color: #01579B;
    padding: 10px 5px;
    font-family: "Roboto", sans-serif;
    display: inline-block;
}

.medidas_separatrizes__input {
    display: inline-block;
    border: none;
    border-bottom: 1px solid #dddddd;
    width: 100%;
    font-size: 16px;
}

.medidas_separatrizes__input:focus {
    outline: none; 
    border-bottom: 2px solid #039BE5;
    transition: all 0.4s;
}

.data_input__file {
    display: none;
}

.data_input__label {
    color: #ffffff;
    background-color: #039BE5;
    padding: 10px;
    margin: 30px;
    font-family: "Roboto", sans-serif;
    display: inline-block;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
    font-size: 16px;
    text-align: center;
    transition: all 0.1s linear;
}

.data_input__label:hover {
    background-color: #1A237E;
    cursor: pointer;
    transition: all 0.1s linear;
}

.form__submit {
    color: #ffffff;
    background-color: #fff;
    background: #039BE5;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
    display: block;
    margin: 60px auto;
    width: 200px;
    padding: 20px;
    border: none;
    font-size: 18px;
    transition: all 0.1s linear;
}

.form__submit:active {
    background-color: #01579B;
    box-shadow: none;
    outline: none;
}

.form__submit:hover {
    background-color: #1A237E;
    cursor: pointer;
    transition: all 0.1s linear;
}

.footer {
    width: 100%;
    display: block;    
    position: absolute;
    /* position: relative; */
    bottom: 0;
}

.footer-content {
    height: 100%;
    position: relative;
    background: #039BE5;
}

.footer-content__text {    
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-weight: normal;
    color: #ffffff;  
    padding: 20px; 
    margin: 0;
}

.footer-content__text span {
    display: inline-block;
    vertical-align: middle;
}

.footer-content__text--icon{
    display: inline;
}

.footer-content__text--icon img{
    width: 30px;
    height: 30px;    
    margin-right: 10px;
}

/*estilização da saida de resultados*/
.result {
    width: 80%;
    height: auto;
    margin: 0 auto 30px;
    position: relative;
    bottom: 40px;
    border-radius: 5px;
}

.result__paragraph {
    color: #424242;
    font-size: 25px;
    text-align: center;
    font-family: "Roboto", sans-serif;
    margin: 0;
    font-weight: bolder;
}

.table {
    overflow-x: auto;
    margin: 50px 0 0;
}

.data__table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 95%;
    margin: 0 auto;
}

.data__table_header {
    background-color: #039BE5;
    color: #ffffff;
    padding: 12px;
    max-width: 250px;
    min-width: 120px;
    font-size: 18px;
    font-family: "Roboto", sans-serif;
    text-align: center;
    font-weight: normal;
}

.data__table_row:nth-child(even){
    background-color: #E3F2FD;
}

.data__table_data {
    color: #424242;
    font-size: 16px;
    font-family: "Roboto", sans-serif;
    padding: 12px;
    text-align: center;    
}

.result-container {
    text-align: center;
}

.container__result {
    margin: 40px;
    box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
    display: inline-block;
    padding: 25px;
    min-width: 300px;
}

.container__result--separatriz {
    width: 95%;
}

.container__result_title {
    font-size: 22px;
    color: #01579B;
    font-family: "Roboto", sans-serif;
}

.container__result_data {
    font-size: 27px;
    color: #424242;
    font-weight: bold;
    font-family: "Roboto", sans-serif;
}

.container_correlacao {
    width: 95%;
    padding-bottom: 50px;
    margin: 0 auto;
}

.canvas {
    width: 80%;
    margin: 0 auto;
    padding: 60px 0;
}

/*Comportamento somente em tablets*/
@media screen and (min-width: 737px) and (max-width: 1023px) {

    .menu__list-item {
        display: block;
    }

    .container__result {
        margin: 30px 10px;
        min-width: 290px;
    }

    .container__result--correlacao {
        width: 80%;
    }
}

/*Comportamento somente em smartphones*/
@media screen and (max-width: 737px) {

    .main {
        width: 100%;
    }

    .data_input__label {
        margin: 30px 20px;
    }

    .result {
        width: 90%;
    }

    .container__result--correlacao {
        width: 95%;
    }

    .index__disclaimer {
        text-align: left;
    }

}

/*Comportamento em smartphones e tablets*/
@media screen and (max-width: 1023px){

    .header {
        position: relative;
        box-shadow: 0 3px 3px 0 rgba(0, 0, 0, 0.14), 0 1px 7px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -1px rgba(0, 0, 0, 0.2);
    }
    
    .main__title {
        padding: 20px 0;
        vertical-align: middle;
    }
    
    .menu {
        display: none;
    }

    .menu__icon {
        display: inline-block;
        padding: 10px;
        cursor: pointer;
        z-index: 2;
    }

    .material-icons {
        color: #ffffff;
        font-size: 30px  !important;
        vertical-align: middle;
    }

    .menu__link {
        color: #01579B;
        font-size: 16px;
    }

    .menu__list-item {
        margin: 20px;
        border-bottom: 1px solid #dddddd;
        display: block;
    }

    .menu__mobile {
        height: 350px;
    }

    .check_input:checked ~ .menu__mobile {
        transform: translateX(300px);
        transition: all 0.2s linear;
    }

    .title {
        font-size: 25px;
    }

    .result__paragraph {
        font-size: 20px;
    }

    .data__table_header {
        font-size: 18px;
    }

    .data__table_data {
        font-size: 16px;
    }

    .container__result {
        margin: 30px 10px;
    }

    .canvas {
        width: 100%;
        padding: 40px 5px 40px 0;
    }
}